<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-content right">
      <h2>Hur går det till?</h2>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-icon">
      <i class="fi-clipboard-pencil size-30"></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Företag skapar en annons</h2>
      <p>Företaget registrerar ett nytt konto och skapar därefter en annons där de specificerar vad de önskar av frilansaren. Samtidigt som de skriver vad jobbet går ut på, när det ska genomföras, lön, hur många timmar per dag med mera.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-torso-female size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Frilansaren skapar en profil</h2>
      <p>Frilansaren registrerar ett nytt konto och skapar därefter en profil, liknande ett cv med nyttig information om vad de söker för jobb och vad de har för färdigheter.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-magnifying-glass size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Frilansaren letar efter jobb</h2>
      <p>Frilansaren söker igenom de jobb som finns aktiva i databsen. När de hittar ett som passar, skapar de en ansökan för jobbet. Här skriver frilansaren varför denna tycker att jobbet passar och annan information som kan tänkas vara bra för företaget att veta.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-comments size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Företaget & frilansaren chattar</h2>
      <p>I ansökan finns en chatt där frilansaren och företaget kan diskutera och få en känsla för varandra och vidare se om det kan bli en bra match.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-like size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Företaget anställer frilansaren</h2>
      <p>Företaget kollar igenom alla de ansökningar som de fått och därefter anställer de antalet frilansare som denna önskar. I kontrollpanelen kan företaget hålla koll på alla sina aktiva annonser och anställningar.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-checkbox size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Jobbet utförs</h2>
      <p>Frilansaren utför de jobb som företaget önskar. I frilansarens kontrollpanel kan denna enkelt hålla koll på vilka jobb som sökts, aktiva anställningar och fakturor.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-pencil size-30'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Frilansaren skapar en faktura</h2>
      <p>Efter att jobbet blivit utfört, skapar frilansaren en faktura i systemet. Fakturan godkänns och skickas till företaget.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-mail size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Fakturan skickas och betalas</p>
      <p>Företaget får en faktura på det belopp som frilansaren utfört. Försäkringar, skatter och avgifter betalar vi och företaget slipper mängder av administration. Bäst av allt, inga extra avgifter för företaget.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-dollar size-40'></i>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">Frilansaren får betalt</h2>
      <p>När fakturan skickats ser vi till att den blir betald och frilansaren tar inga risker. Beloppet som betalas ut är efter vår avgift, skatter, försäkring och sociala avgifter direkt till frilansarens bankkonto.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <i class='fi-heart size-30'></i>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">Alla tjänar på det</h2>
      <p>Frilansaren får jobb, mer flexibla jobbtider, precis som att ha ett eget företag fast utan all administration och bokföring. Företaget anställer smidigt ny arbetskraft utifrån dess egna preferenser och slipper administration och risk med fastanställningar, helt utan extra avgifter.</p><br>
      <%= link_to "HITTA JOBB", jobs_path, class: 'reply-button' %>
      <%= link_to "HITTA ARBETSKRAFT", new_company_registration_path, class: 'profile-button' %>
    </div>
  </div>

</div>
