<p>Välkommen <%= @email %>!</p>

<p>Du kan bekräfta din email genom att följa länken nedan:</p>

<p><%= link_to 'Bekräfta mitt konto', confirmation_url(confirmation_token: @token) %></p>

<p>Om detta mail hamnat i skräpposten är det bra om du markerar det som ej spam för att kunna ta emot viktiga email om dina anställningar.</p>

<p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
