<p>Hej <%= @resource.email %>!</p>

<p>Någon har bett om en länk för att ändra ditt lösenord. Du kan göra det genom länken nedanför.</p>

<p><%= link_to 'Ändra lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om du inte bett om detta, ignorera detta mail.</p>

<p>Ditt lösenord kommer inte ändras förrän länken klickas och du ändrar lösenordet.</p>
