<% if @applications.present? %>
  <% @applications.each do |application| %>
  <strong><%= application.profile_username %></strong><br>
  <span class='job-count'>
  <% if application.hired == true %>
      Anställd!
    <% if application.complete == true %>
      & jobb genomfört!
    <% end %><br>
  <% end %>
  <%= link_to 'Visa ansökan', job_application_path(@job, application), class: 'button-green' %>
  <%= link_to 'Profil', profile_path(application.profile_id), class: 'button-orange' %>
  </span>
  <hr>
  <% end %>
<% else %>
  Inga ansökningar hittills
<% end %>
<div class="will-paginate">
    <%= will_paginate @applications, renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
