<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.profile.username %></h1>
    <h3>
      Du har blivit anställd igen, anställningen har ansökningsid: <%= @application.id %>
    </h3>
    <p>Kom ihåg att alltid göra ditt bästa när du jobbar. Företagen som anställer dig kan lämna feedback på de jobb du utför och ju bättre feedback du får desto fler jobb kommer du få och du kan ta mer betalt!</p>
    <p>
      Logga in i kontrollpanelen för att se att slutdatum stämmer.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
    <p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
  </body>
</html>
