<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      Välkommen och grattis till att du har hittat marknadens smidigaste och modernaste rekryteringsverktyg!
    </h3>
    <p>
      Nu återstår bara att lägga upp en annons och invänta svar. Svårare än så är det inte!
    </p>
    <p>
      Tänk på att det går att lägga upp fler annonser för olika uppdrag. Du kanske tillfälligt söker personal för att du har brist kommande månaden men du söker även någon för eventuell fastanställning.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
    <p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
  </body>
</html>
