<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.profile.username %></h1>
    <h3>
      Du är inte längre anställd för jobbet med ansökningsid: <%= @application.id %>.
    </h3>
    <p>Vi uppmanar alltid företaget som lämnar återbud att skriva till er i chatten.</p>
    <p>
      Logga in i kontrollpanelen för att se vilken anställning det gäller.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
    <p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
  </body>
</html>
