<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.first_name %></h1>
    <h3>
      Grattis! Du har blivit anställd för jobbet <%= @application.job_title %>
    </h3>
    <p>
      Logga in i kontrollpanelen för att se ditt jobb du blivit anställd för.
    </p>
  </body>
</html>
