<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      En ny faktura har skickats till er med ocr nummer: <%= @invoice.ocr_number %>
    </h3>
    <p>
      - Om ni har några invändningar mot fakturan, hör av er till kundtjänst inom 7 dagar.
    </p>
    <p>
      - Om ni önskar få fakturan per post eller utöka betalningstiden går detta att göra när ni klickar på visa fakturan.
    </p>
    <p>
      Logga in i kontrollpanelen för att se fakturan. Lämna gärna feedback på det jobb som utförts, det kommer hjälpa er och frilansaren att få fler jobb framöver!
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
  </body>
</html>
