<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      En ny faktura har skickats till er med ocr nummer: <%= @invoice.ocr_number %>
    </h3>
    <p>
      Logga in i kontrollpanelen för att se fakturan och godkänna den.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
  </body>
</html>
