<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.profile.username %></h1>
    <h3>
      Du har fått ett svar på din ansökan nr: <%= @application.id %>
    </h3>
    <p>
      Logga in i kontrollpanelen för att hitta nya svar!
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
  </body>
</html>
