<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      Du har fått ett chattsvar på din ansökan nr: <%= @application.id %>
    </h3>
    <p>Svar: <%= @comment.comment %></p>
    <p>
      Logga in i kontrollpanelen för att svara på ansökningar och chattar.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
    <p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
  </body>
</html>
