<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      Personen du anställt med ansökningsid: <%= @application.id %> har lämnat återbud.
    </h3>
    <p>Vi uppmanar alltid personer som lämnar återbud att ringa er eller skriva till er i chatten.</p>
    <p>
      Logga in i kontrollpanelen för att se vilken anställning det gäller.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
    <p>Qnekt · Storgatan 41 · 41138 Göteborg · Sverige</p>
  </body>
</html>
