<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.email %></h1>
    <h3>
      Välkommen och grattis till att du har hittat marknadens smidigaste och modernaste jobbverktyg!
    </h3>
    <p>
      Nu återstår bara att söka jobb och invänta svar.
    </p>
    <p>
      Har du några frågor kan du enkelt svara på detta mail med din fråga så kontaktar vi dig så fort vi kan.
    </p>
  </body>
</html>
