<div class="marketing-freelancer-sign-up">
  <div class="marketing-site-hero-content-sign-up">
    <h2>Vad vi hjälper företag med</h2>
    <p>• Hitta ny personal</p>
    <p>• Tillfällig personalbrist</p>
    <p>• Enstaka uppdrag eller längre anställningar</p>
    <p>• Du hittar personal plus att vi tar hand om lön, skatt, avgift & försäkring</p>
    <p>• Du bestämmer timlönen och längden på anställningen</p>
    <p>• Just nu endast 199kr/slutförd anställning</p>
    <%= link_to "Skapa konto", new_company_registration_path, class: 'profile-button' %>
  </div>
  <div class="marketing-site-hero-content-sign-up-numbers">
    <p>Ansökningar / annnons</p>
    <h3 style='margin-top: -0.5em;'>3.5</h3>
  </div>
</div>
<div class="hero-divider-2">
  <ol class="progress-indicator">
    <li class="is-complete" data-step="1">
      <span>Registrera dig & skapa en annons</span>
    </li>
    <li class="is-complete" data-step="2">
      <span>Få svar på din annons</span>
    </li>
    <li class="is-current" data-step="3">
      <span>Granska & acceptera personer som sökt</span>
    </li>
    <li class="is-current" data-step="4">
      <span>Få jobbet gjort & få faktura</span>
    </li>
  </ol>
</div>
