<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @company.username %></h1>
    <h3>
      En ny faktura har skickats till er med id: <%= @invoice.id %>
    </h3>
    <p>
      Logga in i kontrollpanelen för att se fakturan och godkänna den.
    </p>
  </body>
</html>
