<p class="portfolio-resume-subheader">
  <% if @invoices_salary_paid.present? %>
    <% @invoices_salary_paid.each do |invoice| %>
      <% if invoice.user_id == current_user.id %>
        <span class='item-define'>Faktura ID:</span> <%= invoice.id.first(8) %><br>
        <%= link_to invoice.updated_at.strftime("%F %R"), payment_path(invoice), class: 'reply-button' %><br><br>
      <% end %>
    <% end %>
  <% else %>
    Inga fakturor registrerade
  <% end %>
</p>
<div class="will-paginate">
    <%= will_paginate @invoices_salary_paid, param_name: 'salary_paid', renderer: FoundationPagination::Rails, previous_label: 'Tidigare', next_label: 'Nästa', inner_window: 1, outer_window: 1 %>
</div>
