<div class="marketing-freelancer-sign-up-2">
  <div class="marketing-site-hero-content-sign-in">
    <h2>Logga in</h2>
    <%= link_to "som jobbsökare", new_user_session_path, class: 'reply-button' %>
    <p>eller</p>
    <%= link_to "som företag", new_company_session_path, class: 'profile-button' %>
  </div>
</div>
