<h3>Dashboard</h3>
<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <ul>
      <li>
        <%= link_to 'Account' %>
      </li>
      <li>
        <%= link_to 'Profile', new_user_profile_path %>
      </li>
      <li>
        <%= link_to 'Applications' %>
      </li>
      <li>
        <%= link_to 'Invoices' %>
      </li>
    </ul>
  </div>

  <div class="holy-grail-middle">
    <div class="marketing-site-content-section">
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Account info</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
        <a href="#" class="round button small">Edit account</a>
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Profile info</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
        <a href="#" class="round button small">Edit profile</a>
      </div>
      <div class="marketing-site-content-section-block small-order-2 medium-order-1">
        <h3 class="marketing-site-content-section-block-header">Applications</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
        <a href="#" class="round button small">View applications</a>
      </div>
      <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Invoices</h3>
        <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
        <a href="#" class="round button small">View invoices</a>
      </div>
    </div>

  </div>

</div>
