lämnade <span style='font-weight: 600;'>återbud</span> på din
<% if activity.trackable.present? %>
  <%= link_to 'anställning', job_application_path(activity.trackable.job.id, activity.trackable.id) %>
<% else %>
  anställning som sedan dess har tagits bort
<% end %>
