<div class="holy-grail-grid">

  <div class="holy-grail-left">
    <%= link_to 'Kontrollpanel', class: 'button-menu' %><br>
    <%= link_to 'Konto', class: 'button-menu' %><br>
    <%= link_to 'Utbetalningar', class: 'button-menu' %><br>
    <%= link_to 'Hitta jobb', class: 'button-menu' %>
  </div>

  <div class="holy-grail-middle">
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Admin sektion</h3>
          <p class="portfolio-resume-subheader">
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Profil</h3>
          <p class="portfolio-resume-subheader">
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Ansökningar</h3>
        </div>
      </div>
    </div>
    <hr>
    <div class="portfolio-resume row">
      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Aktiva jobb</h3>
          <p class="portfolio-resume-subheader">
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Färdiga jobb</h3>
          <p class="portfolio-resume-subheader">
          </p>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <h3 class="portfolio-resume-header">Fakturor</h3>
        </div>
      </div>
    </div>
  </div>
</div>
