/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

.fieldInfo {
  display: none;
  margin-top: -15px;
  padding: 5px;
  height: auto;
  width: auto;
  text-align: center;
  font: italic 14px/110% Georgia,'Times New Roman',serif;
  z-index: 2;
  vertical-align:middle;
  background-color: #F8F8F8;
  color: #5D5C5C;
}

.fieldInfoHire {
  display: none;
  padding: 5px;
  height: auto;
  width: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  vertical-align:middle;
  background-color: white;
  color: #5D5C5C;
}

input[type='file'] {
 font-family: 'Montserrat', sans-serif;
 color: #6D6D6D;
}

.item-define {
  color: black;
  font-weight: 700;
}

#registered-wrapper {
  position: absolute;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  top: inherit;
  margin-top: 5%;
  padding: 10%;
  width: 75%;
  z-index: 999;
  background: #FEFEFE;
  border: 1px solid;
  border-color: #6D6D6D;
}

#registered-wrapper .registered {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0;
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
}

#notice-wrapper {
  position: absolute;
  top: inherit;
  width: 100%;
  z-index: 999;
  background: rgba(61, 181, 230, 0.85);
}
#notice-wrapper .notice {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #FEFEFE;
  letter-spacing: 1px;
}

#notice-wrapper .notice-first-time {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  color: #FEFEFE;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 39.9375em) {
  #notice-wrapper .notice-first-time {
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  #notice-wrapper .notice {
    font-size: 1.2rem;
  }
}

#alert-wrapper {
  position: absolute;
  top: inherit;
  width: 100%;
  z-index: 999;
  background: rgba(247, 125, 14, 0.85);
}
#alert-wrapper .alert {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #FEFEFE;
  letter-spacing: 1px;
}

@media screen and (max-width: 39.9375em) {
  #alert-wrapper .alert {
    font-size: 1.2rem;
  }
}

  body {
    font-family: 'Montserrat', sans-serif;
  }

  a {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  }

  a:hover, a:focus {
    color: black;
  }

  h3 {
    margin-left: 40px;
    margin-right: 40px;
    color: #3db5e6;
    font-family: 'Montserrat', sans-serif;
  }

  .post-title h3 {
    color: #3db5e6;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
  }

  .feedback-title  {
    color: #3db5e6;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    color: #3db5e6;
    font-family: 'Montserrat', sans-serif;
  }

  h4 {
    color: #3db5e6;
    font-family: 'Montserrat', sans-serif;
  }

  hr {
    margin-top: 0.5em;
    margin-bottom: 0em;
    border-width: 3px;
    border-color: #0a0a0a;
    max-width: none;
  }

 .job-count {
   font-family: 'Montserrat', sans-serif;
   color: #6D6D6D;
   font-size: 14px;
   margin-top: -10px;
 }

 .list-item-line {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: 30px;
   margin-right: 30px;
   border-width: 0.5px;
   border-color: #e6e6e6;
 }

 .log-reg-link {
   margin-left: 40px;
   margin-right: 40px;
  }

  .invoice-details {
    color: #6D6D6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .invoice-details-date {
    color: #6D6D6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: -10px;
  }

  .mini-job-list {
    color: #6D6D6D;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

 /* Breadcrumbs */

 .breadcrumb-holder {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
   padding-left: 40px;
   margin-top: -10px;
 }

 .breadcrumb-holder-small {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
   padding-left: 20px;
   margin-top: -10px;
 }

 .breadcrumb-holder-smaller {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
   padding-left: 10px;
   margin-top: -10px;
 }

 .breadcrumb-holder a {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
 }

 .breadcrumb-holder-small a {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
 }

 .breadcrumb-holder-smaller a {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
 }

 /* Buttons & filter*/

 .text-link-orange {
   font-weight: normal;
   font-size: 0.7rem;
   color: #f77d0e;
   margin-bottom: -1px;
   letter-spacing: normal;
 }

 .cancel-button {
   border: 1px solid #ddd;
   color: #525252;
   background-color: #fefefe;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 0.9rem 1.75rem 0.9rem;
   margin-right: 10px;
 }

 .button-green {
     background: #3db5e6;
     color: #fff;
     display: inline-block;
     text-align: center;
     text-transform: uppercase;
     line-height: 1;
     font-size: 0.7rem;
     font-family: 'Montserrat',Arial,sans-serif;
     font-weight: 700;
     letter-spacing: 0.5px;
     padding: 0.3rem 0.5rem 0.3rem;
     border: none;
 }

 .button-green-big {
     background: #3db5e6;
     color: #fff;
     display: inline-block;
     text-align: center;
     text-transform: uppercase;
     line-height: 1;
     font-size: 0.7rem;
     font-family: 'Montserrat',Arial,sans-serif;
     font-weight: 700;
     letter-spacing: 0.5px;
     padding: 0.6rem 0.8rem 0.6rem;
     border: none;
 }

 .button-blue {
     background: #3db5e6;
     color: #fff;
     display: inline-block;
     text-align: center;
     text-transform: uppercase;
     line-height: 1;
     font-size: 0.8rem;
     font-family: 'Montserrat',Arial,sans-serif;
     font-weight: 700;
     letter-spacing: 0.5px;
     padding: 0.5rem 0.8rem 0.5rem;
     border: none;
 }

 .button-blue:hover {
   color: black;
 }

 .switch-button {
   padding: 0.4rem 1rem;
   color: #8a8a8a;
   background-color: #fff;
   font-size: 0.7rem;
   font-weight: 700;
   text-transform: uppercase;
   border: .1rem solid #8a8a8a;
   -webkit-transition: color .3s,border .3s;
   transition: color .3s,border .3s;
 }

 .button-orange {
   background: #f77d0e;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 0.7rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.5px;
   padding: 0.3rem 0.5rem 0.3rem;
   border: none;
 }

 .button-select {
   color: #8a8a8a;
   background-color: #fff;
   font-size: 0.8rem;
   font-weight: 700;
   text-transform: uppercase;
   border-radius: 8rem;
   border: .1rem solid #8a8a8a;
   -webkit-transition: color .3s,border .3s;
   transition: color .3s,border .3s;
 }

 .button-select-section {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 10px;
 }

 .empty-filter {
   padding: 0.1rem 0.3rem 0.1rem;
   color: #8a8a8a;
   margin-left: 10px;
   margin-top: 7px;
   background-color: #fff;
   font-size: 0.7rem;
   font-weight: 600;
   position: absolute;
   text-transform: uppercase;
   border-radius: 8rem;
   border: .1rem solid #8a8a8a;
   -webkit-transition: color .3s,border .3s;
   transition: color .3s,border .3s;
 }

 .empty-filter:hover {
   color: black;
 }

 .reply-button {
   background: #3db5e6;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
 }

 #reply-button {
   background: #3db5e6;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
 }

 @media screen and (max-width: 35.9375em) {
   #reply-button {
     font-size: 0.9rem;
     padding: 0.8rem 1.2rem 0.8rem;
   }
 }

 .reply-button:hover {
   color: black;
 }

 .reply-button-media {
   background: #3db5e6;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
 }

 @media screen and (max-width: 39.9375em) {
   .reply-button-media {
     width: 100%;
   }
 }

 .profile-button {
   background: #f77d0e;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
 }

 #profile-button {
   background: #f77d0e;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
 }

 @media screen and (max-width: 35.9375em) {
   #profile-button {
     font-size: 0.9rem;
     padding: 0.8rem 1.2rem 0.8rem;
   }
 }

 .profile-button:hover {
   color: black;
 }

 .profile-button-expand {
   background: #f77d0e;
   color: #fff;
   display: block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
   max-width: 100%;
 }

 .profile-button-expand:hover {
   color: black;
 }

 .reply-button-expand {
   background: #3db5e6;
   color: #fff;
   display: block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
 }

 .reply-button-expand:hover {
   color: black;
 }

 .reply-button-apply {
   background: #3db5e6;
   color: #fff;
   display: block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 1rem 1.75rem 1rem;
   border: none;
   margin-left: auto;
   margin-right: auto;
   max-width: 90%;
 }

 @media screen and (max-width: 39.9375em) {
   .reply-button-apply {
     padding: 0.8rem 1.5rem 0.8rem;
     font-size: 0.9rem;
   }
 }

 .profile-button-expand:hover {
   color: black;
 }

 .profile-button-small {
   background: #f77d0e;
   color: #fff;
   display: inline-block;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 0.5rem;
   font-family: 'Montserrat',Arial,sans-serif;
   padding: 0.5rem 1rem 0.5rem;
   border: none;
 }

 .filter-button {
   background: #3db5e6;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   line-height: 1;
   font-size: 1rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.8px;
   padding: 0.7rem 1.5rem 0.7rem;
   border: none;
 }

 .filter-button:hover {
   color: black;
 }

 /* PAGINATE */

 .will-paginate {
   margin-left: 25px;
 }

 .will-paginate a {
   color: #0a0a0a;
   font-size: 15px;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 1.5px;
 }

 .pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #3db5e6;
    border-radius: 1rem;
    color: #fefefe;
    cursor: default;
  }

 /* Comments */

 .comment-section {
   margin-left: 5px;
   margin-right: 5px;
 }

 .comment-section .application-title {
   background-color: #3db5e6;
   padding: 5px;
   margin-top: -15px;
   text-align: center;
 }

 @media screen and (max-width: 59.9375em) {
   .comment-section .application-title {
    margin-top: 0px;
   }
 }

 .comment-section .comment-section-comment {
   color: #696868;
 }

 /* simple form */

 .simple-form {
   margin-left: 20px;
   margin-right: 20px;
 }

 .simple-form-comment {
   margin-left: 5px;
   margin-right: 5px;
 }

 .hidden-label {
   color: #cacaca;
   font-size: 16px;
 }

 .form-text {
   color: #0a0a0a;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 14px;
 }

 .form-text-grey {
   color: #6D6D6D;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 14px;
 }

 /* FORM */

 .input-mini {
   width: auto;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
 }

 .input-medium {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
 }

.login-box {
  background: #fefefe;
  overflow: hidden;
  min-height: 100vh;
}

@media screen and (max-width: 39.9375em) {
  .login-box .or {
    top: 85%;
  }
}

.login-box-title {
  font-weight: 300;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.login-box-form-section,
.login-box-social-section-inner {
  text-align: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 39.9375em) {
  .login-box-form-section, .login-box-social-section-inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.login-box-form-section .login-title {
  background-color: #f77d0e;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

@media screen and (min-width: 39.9375em) {
  .login-box-form-section .login-title {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.login-box-social-section-company-register {
  background-image: image-url('bar-company-2-reg.jpg');
  height: 100%;
  min-height: 55rem;
  padding-top: 1.0rem;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0 0 0 999em rgba(0,0,0,0.5);
}

@media screen and (max-width: 39.9375em) {
  .login-box-social-section-company-register {
    min-height: 600px;
  }
}

.login-box-social-section-company-login {
  background-image: image-url('bar-company-2-reg.jpg');
  height: 100%;
  min-height: 27rem;
  padding-top: 1.0rem;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0 0 0 999em rgba(0,0,0,0.5);
}

.login-box-social-section-user-login {
  background-image: image-url('hitta-jobb-front.png');
  height: 100%;
  padding-top: 1.0rem;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0 0 0 999em rgba(0,0,0,0.6);
}

.login-box-application {
  background: #f9f5ee;
  overflow: hidden;
  min-height: 100vh;
  margin-left: 2em;
  margin-right: 2em;
}

@media screen and (max-width: 39.9375em) {
  .login-box-application {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 39.9375em) {
  .login-box-application .or {
    top: 85%;
  }
}

.login-box-social-section-application {
  height: 100%;
  margin-top: 1em;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  background: #ffff;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
}

.login-box-social-section-application .application-fields {
  padding: 1em;
}

.login-box-social-section-application .login-title {
  background-color: #f77d0e;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  text-align: center;
}

.login-box-social-section-application .login-title-blue {
  background-color: #3db5e6;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  text-align: center;
}

.login-box-social-section-application-chat {
  height: 100%;
  margin-top: 1em;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  background: #ffff;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
}

.login-box-social-section-application-chat .application-chat-box {
  padding: 1em;
}

.login-box-social-section-application-chat .login-title {
  background-color: #f77d0e;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  text-align: center;
}

.login-box-social-section-application-chat .login-title-blue {
  background-color: #3db5e6;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  text-align: center;
}

.login-box-social-section-user-register {
  background-image: image-url('hitta-jobb-front.png');
  height: 100%;
  min-height: 38rem;
  padding-top: 1.0rem;
  background-size: cover;
  background-position: center;
  box-shadow:inset 0 0 0 999em rgba(0,0,0,0.6);
}

@media screen and (max-width: 39.9375em) {
  .login-box-social-section-user-register {
    min-height: 350px;
  }
}

.shared-links {
  margin-top: 1em;
  font-weight: normal;
  font-size: 0.85em;
  color: #8a8a8a;
}

.shared-links a {
  font-weight: normal;
  font-size: 0.95em;
  color: #f77d0e;
  letter-spacing: normal;
}

.login-box-input {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 1.5rem;
  height: 2rem;
  padding-left: 0;
  box-shadow: none;
  font-weight: 400;
}

.login-box-input:focus {
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border: 0;
}

.login-box-social-headline {
  display: block;
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  color: white;
  text-align: center;
}

.login-box-social-content {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.login-box-social-content .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3.5px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

 /* HERO & FRONT */

 .marketing-freelancer {
   background-image: image-url('gig_jobbare.jpg');
   background-repeat: no-repeat;
   height: 80vh;
   margin-bottom: 10px;
   background-size: cover;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
 }

 .marketing-freelancer-sign-up {
   background-image: image-url('sign_up.jpg');
   background-repeat: no-repeat;
   height: 90vh;
   background-size: cover;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
 }

 .marketing-freelancer-sign-up-2 {
   background-image: image-url('sign_up.jpg');
   background-repeat: no-repeat;
   height: 100vh;
   background-size: cover;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
 }

 .marketing-company {
   background-image: image-url('pexels-886465.jpg');
   background-repeat: no-repeat;
   height: 80vh;
   margin-bottom: 10px;
   background-size: cover;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
 }

.marketing-site-hero {
  background-image: image-url('hero-image.jpg');
  background-repeat: no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 55.9375em) {
  .marketing-freelancer {
    background-position: center center;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 55.9375em) {
  .marketing-freelancer-sign-up {
    background-position: center center;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 55.9375em) {
  .marketing-freelancer-sign-up-2 {
    background-position: center center;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 55.9375em) {
  .marketing-company {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  margin: 0 auto;
}

.marketing-site-hero-content-sign-up {
  margin: 0 auto;
  margin-top: -10vh;
  margin-left: 20vh;
  padding: 1.5rem;
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.marketing-site-hero-content-sign-up .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.marketing-site-hero-content-sign-up p {
  font-size: 1em;
  margin-bottom: 1rem;
  line-height: normal;
  color: #72777c;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 49.9375em) {
  .marketing-site-hero-content-sign-up p {
    font-size: 0.8em;
    margin-bottom: 0.8rem;
    line-height: normal;
    color: #72777c;
    font-weight: 300;
    text-align: center;
  }
}

.marketing-site-hero-content-sign-up h2 {
  font-weight: 600;
  font-size: 1.5em;
  color: #494e51;
  text-align: center;
}

@media screen and (max-width: 49.9375em) {
  .marketing-site-hero-content-sign-up h2 {
    font-weight: 600;
    font-size: 1.2em;
    color: #494e51;
    text-align: center;
  }
}

@media screen and (max-width: 49.9375em) {
  .marketing-site-hero-content-sign-up {
    margin: 0 auto;
    margin-top: -10vh;
    padding: 1rem;
    background-color: #ffff;
    border-radius: 0.6rem;
    text-align: center;
    max-width: 90%;
    position: relative;
    z-index: 1;
  }
}

.marketing-site-hero-content-sign-in {
  margin: 0 auto;
  margin-left: 40vh;
  margin-top: -20vh;
  padding: 2rem;
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.marketing-site-hero-content-sign-in p {
  font-size: 1em;
  margin-bottom: 0.3rem;
  color: #72777c;
  font-weight: 300;
  text-align: center;
}

.marketing-site-hero-content-sign-in h2 {
  font-weight: 600;
  font-size: 1.8em;
  color: #494e51;
  text-align: center;
}

@media screen and (max-width: 49.9375em) {
  .marketing-site-hero-content-sign-in {
    margin: 0 auto;
    margin-top: -10vh;
    padding: 1.5rem;
    background-color: #ffff;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 90%;
    position: relative;
    z-index: 1;
  }
}

.marketing-site-hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.5;
  transform: scale(1, 1.1);
  -webkit-transform: scale(1, 1.1); /* Safari and Chrome */
  -moz-transform: scale(1, 1.1); /* Firefox */
  -ms-transform: scale(1, 1.1); /* IE 9+ */
  -o-transform: scale(1, 1.1); /* Opera */
}

.marketing-site-hero-content h2 {
  font-size: 28px;
  text-align: center;
  line-height: 0.8;
  letter-spacing: 0.5;
  text-transform: none;
}

@media screen and (max-width: 25em) {
  .marketing-site-hero-content h1 {
    font-size: 40px;
  }
}

.marketing-site-content-section-block h3 {
  color: black;
  margin: 0;
}

.hero-divider {
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero-divider-2 {
  margin-top: 50px;
  margin-bottom: 130px;
}

.hero-divider-flow {
  background: #222833;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: auto;
}

.hero-divider-flow-title {
  color: white;
}

.hero-divider-flow-content {
  text-align: center;
  color: white;
}

.hero-divider-flow-grey {
  background: #F7F7F7;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: auto;
}

.hero-divider-flow-grey-title {
  color: black;
}

.hero-divider-flow-grey-content {
  text-align: center;
  color: black;
}

.hero-divider-flow-grey-content .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.hero-divider-img {
  height: 85%;
  width: 85%;
}

//* PROGRESS INDICATOR *//

.progress-indicator-headline {
  text-align: center;
  font-size: 22px;
  color: black;
  margin-top: 10px;
}

.progress-indicator {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.progress-indicator > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 1.5em;
}

.progress-indicator > li span {
  position: absolute;
  color: #e6e6e6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

@media screen and (max-width: 39.9375em) {
  .progress-indicator > li span {
  position: absolute;
  color: #e6e6e6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.575rem;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  }
}

.progress-indicator > li::before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #e6e6e6;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progress-indicator > li::after {
  content: '';
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  height: 0.15em;
  top: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 0;
}

.progress-indicator > li:last-child:after {
  display: none;
}

.progress-indicator > li.is-complete {
  color: #3db5e6;
}

.progress-indicator > li.is-complete::before, .progress-indicator > li.is-complete::after {
  color: #fefefe;
  background: #3db5e6;
}

.progress-indicator > li.is-complete span {
  color: #3db5e6;
}

.progress-indicator > li.is-current {
  color: #91DFFF;
}

.progress-indicator > li.is-current::before {
  color: #fefefe;
  background: #91DFFF;
}

.progress-indicator > li.is-current span {
  color: #91DFFF;
}

.progress-indicator > li.is-complete-free {
  color: #f77d0e;
}

.progress-indicator > li.is-complete-free::before, .progress-indicator > li.is-complete-free::after {
  color: #fefefe;
  background: #f77d0e;
}

.progress-indicator > li.is-complete-free span {
  color: #f77d0e;
}

.progress-indicator > li.is-current-free {
  color: #F9B87D;
}

.progress-indicator > li.is-current-free::before {
  color: #fefefe;
  background: #F9B87D;
}

.progress-indicator > li.is-current-free span {
  color: #F9B87D;
}

 /* NEW NAV BAR */

#logo{
	float: center;
	width: 228px;
	height: 29px;
  margin-bottom: 3.5px;
	display: block;
  background-image: image-url('qnekt-logo.png')
}

@media screen and (min-width: 40em) and (max-width: 50em) {
  #logo{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 4px;
  }
}

.topbar-responsive {
  background: #3db5e6;
  padding-right: 1rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.topbar-responsive .topbar-responsive-logo .logo-text {
  color: white;
  font-size: 10px;
  margin-top: 4px;
  text-align: center;
}

@media screen and (min-width: 39.9375em) and (max-width: 50em) {
  .topbar-responsive .topbar-responsive-logo .logo-text {
    color: white;
    font-size: 8px;
    margin-top: 7px;
    text-align: center;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .topbar-responsive-logo .logo-text {
    color: white;
    font-size: 9px;
    margin-top: 5px;
    text-align: center;
  }
}

.topbar-responsive .menu {
  background: #3db5e6;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
  margin-right: 15px;
}

.topbar-responsive .menu a:hover {
  color: black;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

@media screen and (min-width: 55em) and (max-width: 68.395em) {
  .topbar-responsive .menu a {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 45em) and (max-width: 55em) {
  .topbar-responsive .menu a {
    font-size: 11.5px;
    letter-spacing: 0.1em;
    margin-right: 7px;
  }
}

@media screen and (min-width: 39.9375em) and (max-width: 45em) {
  .topbar-responsive .menu a {
    font-size: 9.5px;
    letter-spacing: 0.1em;
    margin-right: 0px;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: black;
  border-color: black;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .topbar-responsive-logo {
    margin-left: 50%;
    max-width: 223px;
    transform: translate(-50%);
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 2px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

  /* FOOTER */

 .site-footer-unscroll {
   background: #2f2e2e;
   font-family: 'Montserrat', sans-serif;
   font-size: 0.8rem;
   letter-spacing: 1.0px;
   line-height: 1.5;
   color: #fefefe;
   padding: 1em 0em 1em 0em;
   margin-top: 1em;
 }

 .site-footer-unscroll a {
   background: #2f2e2e;
   font-family: 'Montserrat', sans-serif;
   font-size: 0.8rem;
   line-height: 1.5;
   color: #fefefe;
 }

 .site-footer-unscroll #footer-column {
  background: #2f2e2e;
  color: #fefefe;
  text-align: center;
  min-height: 100%;
 }

 .site-footer {
   background: #2f2e2e;
   font-family: 'Montserrat', sans-serif;
   color: #fefefe;
   padding: 2rem 0 2rem 0;
 }

 .site-footer .footer-logo {
   text-align: center;
   font-family: "Century Gothic", 'Montserrat', sans-serif;
   font-size: 2.8em;
   font-weight: 900;
   margin-bottom: 0.5em;
 }

  @media screen and (max-width: 39.9375em) {
   .site-footer-top {
    display: none;
   }
 }

 .site-footer-title {
   color: #fefefe;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.20rem;
   font-weight: bold;
   letter-spacing: 1.5px;
   text-align: center;
 }

 @media screen and (max-width: 39.9375em) {
   .site-footer-title {
     color: #fefefe;
     font-family: 'Montserrat', sans-serif;
     font-size: 1rem;
     font-weight: bold;
     letter-spacing: 1.2px;
     text-align: center;
   }
 }

 .site-footer-content {
   color: #fefefe;
   font-family: 'Montserrat', sans-serif;
   font-size: 0.7rem;
   letter-spacing: 1.0px;
   text-align: center;
   line-height: 1.3;
   margin-top: -12px;

 }

 @media screen and (max-width: 39.9375em) {
   .site-footer-content {
     color: #fefefe;
     font-family: 'Montserrat', sans-serif;
     font-size: 0.6rem;
     letter-spacing: 1.0px;
     text-align: center;
     line-height: 1.2;
     margin-top: -20px;

   }
 }


 .site-footer-content a {
   color: #ffff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 0.8rem;
   line-height: 1.5;
 }

 /* DASHBOARD */

.holy-grail-grid {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  height: 100vh;
}
.holy-grail-grid-show {
  margin-left: 40px;
  margin-right: 40px;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  height: 60vh;
}

@media screen and (max-width: 60em) {
  .holy-grail-grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

.holy-grail-left {
  background-color: #2f2e2e;
  min-height: 100vh;
  position: relative;
}

.holy-grail-left .holy-grail-logo {
  margin-left: 3em;
  bottom: 5em;
  color: white;
  position: absolute;
  letter-spacing: 0.4em;
}

.holy-grail-left .holy-grail-logo .q-font {
  font-family: "Century Gothic", 'Montserrat', sans-serif;
  font-size: 2.8em;
  font-weight: 900;
}

.holy-grail-left .holy-grail-logo .nekt-font {
  font-family: "Century Gothic", 'Montserrat', sans-serif;
  font-size: 2.8em;
  font-weight: 900;
}

@media screen and (max-width: 60em) {
  .holy-grail-left .holy-grail-logo {
    display: none;
  }
}

.button-menu {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1rem;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.8rem 1rem 0.8rem;
  border-bottom: 1px solid #696868;
  width: calc(100%);
}
.holy-grail-left-application {
  background-color: #F8F8F8;
  padding: 0.5rem;
  min-height: 100vh;
}

.holy-grail-left-application .application-title {
  background-color: #f77d0e;
  padding: 5px;
  margin: -24px -8px 8px -8px;
  text-align: center;
}

.holy-grail-left-application-box {
  font: italic 1em/140% Georgia,'Times New Roman',serif;
  z-index: 2;
  color: #5D5C5C;
  text-align: center;
}

.holy-grail-left-application-box-small {
  font: italic 13px/140% Georgia,'Times New Roman',serif;
  z-index: 2;
  color: #5D5C5C;
  text-align: center;
  margin-bottom: 15px;
}

.holy-grail-left-application-box .contact-title {
  background-color: #f77d0e;
  font-weight: 800;
  font: normal 18px Montserrat,Arial,sans-serif;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: center;
}

.holy-grail-left-application-box-title {
  font: italic 18px/140% Georgia,'Times New Roman',serif;
  z-index: 2;
  color: #f77d0e;
  margin-bottom: 10px;
}

.holy-grail-middle-application,
.holy-grail-middle {
  background-color: #ffff;
  padding-top: 15px;
}

.holy-grail-middle .holy-grail-vh {
  min-height: 100vh;
}

@media screen and (max-width: 60em) {
  .holy-grail-left {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    min-height: auto;
  }
}

@media screen and (min-width: 60em) and (max-width: 68.395em) {
  .holy-grail-left a {
    font-size: 14px;
  }
}

@media screen and (min-width: 45em) and (max-width: 60em) {
  .holy-grail-left a {
    font-size: 12px;
  }
}

@media screen and (max-width: 45em) {
  .holy-grail-left a {
    font-size: 10px;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-left-application {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    min-height: auto;
  }
}

@media screen and (min-width: 60em) and (max-width: 68.395em) {
  .holy-grail-left-application a {
    font-size: 14px;
  }
}

@media screen and (min-width: 45em) and (max-width: 60em) {
  .holy-grail-left-application a {
    font-size: 12px;
  }
}

@media screen and (max-width: 45em) {
  .holy-grail-left-application a {
    font-size: 10px;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

.marketing-site-content-section {
  background: #F7F7F7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  text-align: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 39.995em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    text-align: center;
  }
}

.marketing-site-content-section .columns {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 1rem;
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 13px;
  color: #4b4e55;
  text-align: center;
  line-height: 1.5;
}

.marketing-site-content-section-block-subheader .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

/* SHOW PROFILE */

.card-holder {
  background: #f9f5ee;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.card-profile-stats {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 10px rgba(51,51,51,.3);
  padding: 1.25rem;
  background: #fefefe;
  min-height: 80vh;
}

@media screen and (max-width: 39.9375em) {
  .card-profile-stats {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.card-profile-stats .card-profile-stats-intro {
  text-align: center;
  margin-bottom: -15px;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-container {
  text-align: center;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
  margin: 0.5rem 0 0.5rem;
}

@media print, screen and (min-width: 64em) {
  .card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic .stat {
  font-size: 24px;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
  margin: 0;
}

@media print, screen and (min-width: 64em) {
  .card-profile-stats .card-profile-stats-intro {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
  }
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    margin: 0 1.25rem 0 0;
    max-width: 200px;
  }
  .card-profile-stats .card-profile-stats-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

/* INDEX PROFILE */
.browse-holder {
  min-height: 100vh;
}

@media screen and (max-width: 31.9374em) {
  .browse-holder {
    margin-left: -7%;
    margin-right: -7%;
  }
}

@media screen and (min-width: 31.9375) and (max-width: 39.9375em) {
  .browse-holder {
    margin-left: -5%;
    margin-right: -5%;
  }
}

.profile-card-action-icons {
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #ffff;
  font-weight: 400;
  margin-bottom: 1.5rem;
    box-shadow: 5px 5px 10px rgba(51,51,51,.3);
}

.profile-card-action-icons .card-section {
  background-color: inherit;
  padding: 0rem 0 0;
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-icons {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-icons .card-section {
    line-height: 1.25em;
    font-size: 0.9em;
  }
}

.profile-card-action-icons .card-section .profile-card-header {
  padding: 0.2rem 1rem;
}
.profile-card-action-icons .card-section .profile-card-about {
  padding: 0.2rem 1rem;
}

@media screen and (min-width: 63.9375em) {
  .profile-card-action-icons .card-section .profile-card-about-button {
    padding: 0.2rem 1rem;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-icons .card-section .profile-card-header {
    padding: 0.1rem 0.5rem;
  }
}

.profile-card-action-icons .card-section .profile-card-about-feed {
  padding: 0.2rem 1rem;
  margin: 10px;
}

.profile-card-action-icons .card-section .profile-card-about-title {
  font-weight: 700;
}

.profile-card-action-icons .card-section .profile-card-about-title-message {
  font-weight: 600;
  margin-left: 1px;
  margin-right: 1px;
}

.profile-card-action-icons .card-section .profile-card-about-message {
  color: #696868;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}

.profile-card-action-icons .card-section .profile-card-about-message-2 {
  color: #696868;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.profile-card-action-icons .card-section .profile-card-about-message-2 .application-title {
  background-color: #3db5e6;
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -3px;
  text-align: center;
}

.profile-card-action-icons .card-section .profile-card-about-feed-message {
  color: #696868;
  font-style: italic;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}

.profile-card-action-icons .card-section .profile-card-header {
  background-color: #f9f5ee;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-card-action-icons .card-section .profile-card-header .profile-card-avatar {
  margin-right: 0.5rem;

}

.profile-card-action-icons .card-section .profile-card-header .profile-card-avatar .avatar-image {
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
}

.profile-card-action-icons .card-section .profile-card-header .profile-card-author {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-icons .card-section .profile-card-header .profile-card-author {
    text-align: center;
  }
}

  @media screen and (max-width: 39.9375em) {
    .profile-card-action-icons .card-section .profile-card-header .profile-card-author .add-friend {
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }

.profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-title {
  overflow: auto;
  margin-bottom: 0;
}
.profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-description {
  margin-bottom: 0;
}

.profile-card-action-icons .card-section .profile-card-header .profile-card-author .author-description {
  color: #8a8a8a;
  font-size: 0.9em;
}

.profile-card-action-icons .card-section .profile-card-about .profile-card-about-title {
  color: #3db5e6;
}

/* APPLICATION SHOW */

.application-holder {
  background: #f9f5ee;
}

.application-holder h3 {
  text-align: center;
  padding-top: 0.3em;
}

.profile-card-action-application {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.3);
}

.profile-card-action-application .card-section {
  background-color: inherit;
  padding: 0rem 0 0;
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-application {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-application .card-section {
    line-height: 1.25em;
    font-size: 0.9em;
  }
}

.profile-card-action-application .card-section .profile-card-header {
  padding: 0.2rem 1rem;
}
.profile-card-action-application .card-section .profile-card-about {
  padding: 0.2rem 1rem;
}

@media screen and (min-width: 63.9375em) {
  .profile-card-action-application .card-section .profile-card-about-button {
    padding: 0.2rem 1rem;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-application .card-section .profile-card-header {
    padding: 0.3rem 0.5rem;
  }
}

.profile-card-action-application .card-section .profile-card-about-feed {
  padding: 0.2rem 1rem;
  margin: 10px;
}

.profile-card-action-application .card-section .profile-card-about-title {
  font-weight: 700;
}

.profile-card-action-application .card-section .profile-card-about-title-message {
  font-weight: 600;
  margin-left: 1px;
  margin-right: 1px;
}

.profile-card-action-application .card-section .profile-card-about-message {
  color: #696868;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}

.profile-card-action-application .card-section .profile-card-about-message-2 {
  color: #696868;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.profile-card-action-application .card-section .profile-card-about-message-2 .application-title {
  background-color: #3db5e6;
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -3px;
  text-align: center;
}

.profile-card-action-application .card-section .profile-card-about-feed-message {
  color: #696868;
  font-style: italic;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}

.profile-card-action-application .card-section .profile-card-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-card-action-application .card-section .profile-card-header .profile-card-avatar {
  margin-right: 0.5rem;

}

.profile-card-action-application .card-section .profile-card-header .profile-card-avatar .avatar-image {
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
}

.profile-card-action-application .card-section .profile-card-header .profile-card-author {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .profile-card-action-application .card-section .profile-card-header .profile-card-author {
    text-align: center;
  }
}

  @media screen and (max-width: 39.9375em) {
    .profile-card-action-application .card-section .profile-card-header .profile-card-author .add-friend {
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
  }

.profile-card-action-application .card-section .profile-card-header .profile-card-author .author-title {
  overflow: auto;
  margin-bottom: 0;
}
.profile-card-action-application .card-section .profile-card-header .profile-card-author .author-description {
  margin-bottom: 0;
}

.profile-card-action-application .card-section .profile-card-header .profile-card-author .author-description {
  color: #8a8a8a;
  font-size: 0.9em;
}

.profile-card-action-application .card-section .profile-card-about .profile-card-about-title {
  color: #3db5e6;
}

/* SHOW JOB AD & APPLY & DASHBOARDS */

.portfolio-card {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

@media screen and (min-width: 34.9375em) and (max-width: 63.9375em) {
  .portfolio-card {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.portfolio-card .portfolio-card-header {
  color: #fefefe;
  background-color: #615D5D;
  padding: 0.1rem 0.8rem 0.1rem;
}

.portfolio-card .portfolio-card-header a {
  color: #fefefe;
  font-size: 12px;
}

.portfolio-resume-wrapper {
  text-align: center;
}

.portfolio-resume-wrapper img {
  margin-bottom: 10px;
  height: 100px;
  border-radius: 50%;
}

.portfolio-resume-header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #5D5C5C;
  margin-bottom: 1rem;
}

.portfolio-resume-subheader a {
  color: #0a0a0a;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
}

.portfolio-resume-subheader {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 3px;
}

.holy-grail-grid-show .holy-grail-left-application .invoice-title {
  background-color: #f77d0e;
  padding: 8px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -25px;
  margin-bottom: 5px;
  text-align: center;
}

.portfolio-resume-subheader-items {
  color: #8a8a8a;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
}

.portfolio-resume-notice {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 3px;
}

.portfolio-resume-notice-items {
  color: #8a8a8a;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: none;
  line-height: 2;
}

.portfolio-resume-notice-items a {
  color: #3db5e6;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: none;
}

.notification-link {
  color: #3db5e6;
}

.portfolio-resume-subheader-sub {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}

.portfolio-resume-subheader-title {
  text-align: center;
  color: #f77d0e;
  margin-top: -15px;
  font-weight: bold;
}

.dash-active {
  margin: -18px;
  font-size: 13px;
}

.dash-active-inv {
  margin-top: -18px;
  font-size: 13px;
  margin-bottom: 0px;
}

/* HOW IT WORKS */


.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
  background: #fefefe;
}

.timeline::before {
  background: #3db5e6;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: #fefefe;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: #3db5e6;
  border-radius: 50%;
  height: 60px;
  left: 50%;
  margin-left: -28px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 60px;
  color: white;
}

.size-10 { font-size: 10px; }
.size-15 { font-size: 15px; }
.size-20 { font-size: 20px; }
.size-25 { font-size: 25px; }
.size-30 { font-size: 30px; }
.size-40 { font-size: 40px; }

.timeline .timeline-item .timeline-icon i {
  left: 20px;
  position: relative;
  top: 1px;
}

.timeline .timeline-item .timeline-icon i {
  top: 6px;
}

.timeline .timeline-item .timeline-content {
  padding: 10px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: #fefefe;
}

.timeline .timeline-item .timeline-content p {
  color: #696868;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  margin-top: -15px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  color: #f77d0e;
}

.timeline .timeline-item .timeline-content .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

.timeline .timeline-item .timeline-content h2 {
  margin-bottom: -10px;
  color: #696868;
  text-transform: uppercase;
}

//* TESTIONIALS *//

.featured-testimonials-section {
  background: white;
  padding: 2rem 1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-previous {
  color: #0a0a0a;
  left: -1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-next {
  color: #0a0a0a;
  right: -1rem;
}

.featured-testimonials-section .testimonial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.featured-testimonials-section .profile-pic {
  max-width: 100px;
  border-radius: 50%;
}

.featured-testimonials-section .featured-testimonials-quotation {
  margin-left: 3rem;
  margin-bottom: 0rem;
  padding: 1rem;
  position: relative;
}

.featured-testimonials-section .featured-testimonials-quotation::before {
  content: "“";
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  top: -2.5rem;
  left: -1.5rem;
}

.featured-testimonials-section .featured-testimonials-quotation::after {
  content: "”";
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  bottom: -4rem;
  right: -.5rem;
}

@media screen and (max-width: 39.9375em) {
  .featured-testimonials-section .featured-testimonials-quotation {
    margin-left: 0;
  }
}

/* Our rates */

.our-rates-box {
  margin-top: 2px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f77d0e;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 39.9375em) {
  .our-rates-box {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.our-rates-normal-paragraph {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #EBEBEB;
}

.our-rates-normal-paragraph .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 105%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 3.5px solid #f77d0e;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

@media screen and (max-width: 39.9375em) {
  .our-rates-normal-paragraph {
    margin-left: 10px;
    margin-right: 10px;
  }
}
