<p>Hej <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Vi kontaktar dig för att bekräfta att din email har ändrats till <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Vi kontaktar dig för att bekräfta att din email har ändrats till <%= @resource.email %>.</p>
<% end %>
