<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hej <%= @user.first_name %></h1>
    <h3>
      Grattis! Din faktura med id: <%= @invoice.id %> har blivit godkänd av företaget.
    </h3>
    <p>
      Logga in i kontrollpanelen för att se din godkända faktura.
    </p>
  </body>
</html>
